.schema-table {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 2px;
}
.schema-row {
  border-bottom: 2px solid black;
}
.schema-table-heading {
  color: black;
  border: 2px solid black;
}
.schema-cell {
  border: 2px solid black;
}
.schema-cell-x {
  text-align: center;
  cursor: pointer;
  vertical-align: center;
  width: 20px;
  height: 20px;
  background-color: red;
  border: 2px solid black;
}

